h1 {
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 30px;
  color: bisque;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

ul,
ol {
  list-style: none;
}

header ul {
  display: flex;
  gap: 30px;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: blue;
}

@media (max-width: 420px) {
  .nav-link {
    font-size: 12px;
  }
}
.link {
  color: red;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 10px;
  background-color: lightblue;
  border-radius: 10px;
  width: 135px;
  justify-content: center;
}
.link:hover {
  color: blue;
}

.Musica {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.surgimiento {
  color: bisque;
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historia {
  background-color: lightblue;
  color: black;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-width: 200px;
  max-width: 600px;
  overflow: auto;
  border-style: solid;
  border-width: 20px;
  border-color: bisque;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 620px;
}

.Musica {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Musica__conciertos {
  background-color: lightblue;
  font-weight: 700;
  float: left;
  width: 200px;
  height: 100%;
  margin-top: 20px;
  align-items: center;
}
.Musica__conciertos ul, .Musica li {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  color: bisque;
}

#textomusica {
  background-color: lightblue;
  font-size: 20px;
  width: 649px;
  height: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-style: solid;
  border-width: 20px;
  border-color: bisque;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 620px;
}

.internacional {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightblue;
  color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#Social {
  color: bisque;
  font-size: 35px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Consulta {
  color: bisque;
  font-size: 35px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.encabezado {
  background-color: lightblue;
  color: rgb(194, 127, 160);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mas {
  font-size: 29px;
  background-color: lightblue;
  color: rgb(194, 127, 160);
}

@media (max-width: 420px) {
  .mas {
    font-size: 15px;
    background-color: lightblue;
    color: black;
  }
}
.escuchadas {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  justify-content: space-between;
  row-gap: 30px;
}

@media (max-width: 420px) {
  .escuchadas {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 2fr 2fr;
    height: 650px;
    column-gap: 40px;
    row-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .escuchadas {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 2fr 2fr;
    height: 700px;
    column-gap: 40px;
    row-gap: 20px;
    background-color: lightblue;
  }
}
.where {
  background-image: url(../img/cruelsummer.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: double;
  width: 45%;
  background-image: url(../img/where.jpg);
}

.creepin {
  background-image: url(../img/cruelsummer.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: double;
  width: 45%;
  background-image: url(../img/creepin.jpg);
}

.die {
  background-image: url(../img/cruelsummer.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: double;
  width: 45%;
  background-image: url(../img/theweeknd.jpg);
}

.cielo {
  background-image: url(../img/cruelsummer.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: double;
  width: 45%;
  background-image: url(../img/cielo.jpg);
}

/*# sourceMappingURL=styles.css.map */
