h1 {
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 30px;
  color: bisque;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

ul,
ol {
  list-style: none;
}

header ul {
  display: flex;
  gap: 30px;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

@media (max-width: 420px) {
  header {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20px;
  }
}
a {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: blue;
  font-size: 22px;
}

@media (max-width: 420px) {
  .nav-link {
    font-size: 12px;
  }
}
.variedad {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 420px) {
  .variedad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
.search {
  background-color: bisque;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 420px) {
  .search {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.Variacion {
  font-size: 20px;
}

.moment {
  background-color: lightblue;
  font-size: 32px;
}

@media (max-width: 420px) {
  .moment {
    font-size: 16px;
    background-color: lightblue;
    color: black;
  }
}
.artistas {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  justify-content: space-between;
  column-gap: 30px;
}

@media (max-width: 420px) {
  .artistas {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-content: space-between;
    column-gap: 30px;
    height: 700px;
  }
}
.eladio {
  background-color: yellow;
  background-image: url(../img/eladio.jpg);
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  width: 40%;
  margin-left: 70PX;
  border-style: double;
}

.lana {
  background-color: green;
  background-image: url(../img/lana.jpg);
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  width: 40%;
  margin-left: 70PX;
  border-style: double;
}

.rauw {
  background-color: rgb(114, 36, 36);
  background-image: url(../img/rauw.jpg);
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  width: 40%;
  margin-left: 70PX;
  border-style: double;
}

.encabezado {
  background-color: lightblue;
  color: rgb(194, 127, 160);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mas {
  font-size: 29px;
  background-color: lightblue;
  color: rgb(194, 127, 160);
  border-style: solid;
}

@media (max-width: 420px) {
  .mas {
    font-size: 15px;
    background-color: lightblue;
    color: black;
  }
}
.escuchadas {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  justify-content: space-between;
  row-gap: 30px;
  margin-left: 300px;
  margin-right: 300px;
  border-style: solid;
}

@media (max-width: 420px) {
  .escuchadas {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 2fr 2fr;
    height: 650px;
    column-gap: 40px;
    row-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .escuchadas {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 2fr 2fr;
    height: 700px;
    column-gap: 40px;
    row-gap: 20px;
    background-color: lightblue;
  }
}
.cruel {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: solid;
  width: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 90px;
  margin-top: 5px;
  background-image: url(../img/cruelsummer.jpg);
}

.where {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: solid;
  width: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 90px;
  margin-top: 5px;
  background-image: url(../img/where.jpg);
}

.Creepin {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: solid;
  width: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 90px;
  margin-top: 5px;
  background-image: url(../img/creepin.jpg);
}

.die {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: solid;
  width: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 90px;
  margin-top: 5px;
  background-image: url(../img/theweeknd.jpg);
}

.cielo {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 5px 40px;
  border-style: solid;
  width: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 90px;
  margin-top: 5px;
  background-image: url(../img/cielo.jpg);
}

@media (max-width: 420px) {
  .cruel {
    background-image: url(../img/cruelsummer.jpg);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 120px 150px;
    background-position: 25px 40px;
    border-style: solid;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .where {
    background-color: grey;
    background-image: url(../img/where.jpg);
    background-repeat: no-repeat;
    background-size: 120px 150px;
    background-position: 25px 40px;
    border-style: solid;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 100%;
  }
  .Creepin {
    background-color: grey;
    background-image: url(../img/creepin.jpg);
    background-repeat: no-repeat;
    background-size: 120px 150px;
    background-position: 25px 40px;
    border-style: solid;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .die {
    background-color: grey;
    background-image: url(../img/theweeknd.jpg);
    background-repeat: no-repeat;
    background-size: 120px 150px;
    background-position: 25px 40px;
    border-style: solid;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .cielo {
    background-color: grey;
    background-image: url(../img/cielo.jpg);
    background-repeat: no-repeat;
    background-size: 120px 150px;
    background-position: 25px 40px;
    border-style: solid;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
.alguna {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.necesitar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: lightblue;
}
.necesitar__formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
  font-size: 18;
  font-family: "Times New Roman", Times, serif;
  gap: 20px;
}

.link {
  color: red;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 10px;
  background-color: lightblue;
  border-radius: 10px;
  width: 135px;
  justify-content: center;
  margin-left: 20px;
}
.link:hover {
  color: blue;
}

.Musica {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.surgimiento {
  color: bisque;
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historia {
  background-color: lightblue;
  color: black;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-width: 200px;
  max-width: 600px;
  overflow: auto;
  border-style: solid;
  border-width: 20px;
  border-color: bisque;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 620px;
}

.Musica {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Musica__conciertos {
  background-color: lightblue;
  font-weight: 700;
  float: left;
  width: 300px;
  height: 100%;
  margin-top: 40px;
  border-style: solid;
  align-items: center;
  margin-left: 30px;
}
.Musica__conciertos ul,
.Musica li {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  color: bisque;
}

#textomusica {
  background-color: lightblue;
  font-size: 20px;
  width: 649px;
  height: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-style: solid;
  border-width: 20px;
  border-color: bisque;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 620px;
}

.internacional {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightblue;
  color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.Consulta {
  color: bisque;
  font-size: 35px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.descripcion {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 20px;
  color: black;
}
.descripcion__abel {
  background: rgb(43, 158, 185);
  background: linear-gradient(90deg, rgb(43, 158, 185) 27%, rgb(121, 142, 145) 88%);
  grid-row: span 2;
  border-style: solid;
}
.descripcion__rihanna {
  background: rgb(232, 99, 106);
  background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
  border-style: solid;
}
.descripcion__taylor {
  background: rgb(232, 99, 106);
  background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
  border-style: solid;
}
.descripcion__bad {
  background: rgb(232, 99, 106);
  background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
  border-style: solid;
}
.descripcion__yankee {
  background: rgb(232, 99, 106);
  background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
  border-style: solid;
}

.texto__rihanna {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

.texto__taylor {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

.texto__bad {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

.texto__abel {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
  font-size: 16px;
}

.texto__yankee {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

@media (max-width: 420px) {
  .descripcion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    gap: 20px;
    color: black;
  }
  .descripcion__abel {
    background: rgb(43, 158, 185);
    background: linear-gradient(90deg, rgb(43, 158, 185) 27%, rgb(121, 142, 145) 88%);
    grid-row: span 2;
    border-style: solid;
  }
  .descripcion__rihanna {
    background: rgb(232, 99, 106);
    background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
    border-style: solid;
  }
  .descripcion__taylor {
    background: rgb(232, 99, 106);
    background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
    border-style: solid;
  }
  .descripcion__bad {
    background: rgb(232, 99, 106);
    background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
    border-style: solid;
  }
  .descripcion__yankee {
    background: rgb(232, 99, 106);
    background: linear-gradient(90deg, rgb(232, 99, 106) 27%, rgb(118, 179, 109) 75%);
    border-style: solid;
  }
}
@media (max-width: 420px) {
  .texto__rihanna {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }
  .texto__taylor {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }
  .texto__bad {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }
  .texto__abel {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
    font-size: 12px;
  }
  .texto__yankee {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }
}
.always {
  font-size: 28px;
}

@media (max-width: 420px) {
  .always {
    font-size: 18px;
    background-color: lightblue;
  }
}
@media (min-width: 1200px) {
  .always {
    font-size: 32px;
    color: black;
  }
}
.leave {
  font-size: 26px;
  background-color: lightblue;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px) {
  .leave {
    font-size: 12px;
    background-color: lightblue;
    color: black;
  }
}
@media (min-width: 1200px) {
  .leave {
    font-size: 30px;
    background-color: crimson;
    color: black;
  }
}
.correo {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  border-style: solid;
  margin-top: 20px;
}

@media (max-width: 420px) {
  .correo {
    font-size: 16px;
    background-color: lightblue;
  }
}
@media (min-width: 1200px) {
  .correo {
    font-size: 22px;
    background-color: crimson;
    width: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
